<?xml version="1.0"?>
<configuration>
  <servers>
    <server id="0" used="false" startdirname="|APP_BASE|/share/files"  serverurl="http://localhost:55470/share/files"/>
    <server id="1" used="true"  startdirname="|APP_BASE|/share/files" serverurl="http://localhost:55470/share/files"/>

    <!--<server id="2" used="true" hostip="192.168.1.250" startdirname="sir01" username="sir01" password="123456"  serverurl="http://192.168.0.247"/>-->
    <server id="2" used="true" startdirname="|APP_BASE|/share/files"  serverurl="http://localhost:55470/share/files"/>
    <server id="3" used="true" startdirname="|APP_BASE|/share/files"  serverurl="http://localhost:55470/share/files"/>
  </servers>
</configuration>
